/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -------------------- Base Header - Footer Styles -------------------- */

body {
  font-size: 16px;
  color: #e2e3ed;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.8em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h4 {
  font-size: 1.4em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h5 {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h6 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  padding: 0px 1rem;
  margin: 0;
  font-style: normal;
}

p {
  line-height: 1.4rem;
  font-style: normal;
}
/****************HEADER****************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #212322;
}

header img {
  width: 80%;
  margin: 0.875em;
}

header a {
  text-decoration: none;
  color: #fefefe;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  margin: 0em 3em;
  text-transform: uppercase;
}

.header-divider {
  border: 0.0625em gray solid;
  width: 99%;
}

header .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h3 {
  margin-bottom: 8px;
  padding-top: 0;
}

/************************MAIN***********************/

main h1 {
  margin: 0;
  padding-top: 1em;
}

/************************HERO-AREA************************/

.hero-area {
  background-image: url(../img/jake-melara-30679-unsplash.jpg);
  height: 31.25em;
  background-size: 62em;
  background-position-x: center;
  background-position-y: top;
}

/**************************FAQ****************************/

.faq {
  background-color: #537159;
}

.faq h2 {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.faq h4 {
  padding-top: 0rem;
}

.faq p {
  padding: 1rem 1.2rem 2rem 1.2rem;
  margin: 0;
}

/**************************ASIDE***************************/

aside {
  background-color: #537159;
}

.form-description h3 {
	padding-top: 1.2rem;
}

aside p {
  padding: 0 1rem;
  margin-bottom: 1.5em;
}

input[type="button"] {
  background-color: #2b423a;
  color: #e2e3ed;
  font-size: 1rem;
  text-transform: uppercase;
  width: 86%;
  margin: 0 1rem 1.5rem 1rem;
  height: 2.5rem;
  border: 0;
  padding: 0;
}

input[type="email"] {
  color: #212322;
  margin: 1rem 1rem 1.5rem 1rem;
  width: 86%;
  height: 2.5rem;
  border: 0;
}

/****************************FEATURE***************************/

.features {
  background-image: url(../img/raw.jpg);
  background-size: 143em;
  background-position: center;
  height: auto;
}

.features h2 {
  padding-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.features-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-items article {
  width: 73%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.features i {
  font-size: 3.75em;
  margin-bottom: 40px;
}

.features p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/*******************************REVIEWS****************************/

.reviews {
  background-color: #537159;
}

.reviews h2 {
  padding: 1rem 1.2rem 0 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.reviews h3 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.reviews p {
  margin: 0;
  padding: 0 1rem 1.5rem 1rem;
}

.reviews img {
  width: -moz-available;
  padding: 0 1.2rem;
  margin-bottom: 1.5rem;
}

/*******************************MISSION*********************************/

.mission .content-wrapper {
  background-color: #537159;
}

.mission h2 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.mission p {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 0;
}

figure {
  margin: 0;
}

iframe {
  width: 100%;
}

.contact-section {
  background-color: #2b423a;
}

.contact-section h2 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.contact-section p {
  padding: 0 1rem 1.5rem 1rem;
  margin-bottom: 0;
  font-style: normal;
}

/*******************************FOOTER***********************************/

footer {
  background-color: #212322;
  height: 20em;
}

.contact {
  text-align: center;
}

.contact h4 {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  font-style: normal;
}
.contact p {
  margin-bottom: 1.5rem;
  font-style: normal;
}

.social h4 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.copyright p {
  text-align: center;
  margin-bottom: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  Modify as content requires.
  ========================================================================== 
*/

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    padding: 0 2.8rem;
  }

  /*****************HEADER*****************/

  header {
    display: block;
    height: 5.5rem;
  }

  header .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }

  header img {
    width: auto;
    margin-left: 2.8rem;
    height: 46%;
  }

  .header-divider {
    display: none;
  }

  li {
    margin: 0rem 2.8rem 0 0;
  }

  /******************************************
  =====MAIN
  ******************************************/

  /*********************HERO**********************/

  .hero-area {
    background-position-y: center;
  }

  main h1 {
    padding-top: 2.8rem;
    width: 60%;
  }

  /********************ASIDE***********************/

  aside {
    height: 15rem;
  }

  aside .content-wrapper {
    display: flex;
  }

  .form-description {
    height: inherit;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .form-description h3 {
    padding: 2.8rem 2.8rem 0rem 2.8rem;
    font-size: 1.6rem;
    font-weight: normal;
  }

  .form-description p {
    font-size: 1rem;
    padding: 0 2.8rem;
  }

  .form h3 {
    padding-top: 2.8rem;
    font-weight: lighter;
    font-size: 1.6rem;
  }

  input[type="email"] {
    margin: 1rem 0px 1.5rem 2.8rem;
    width: 73.5%;
    padding: 0 0 0 0.8rem;
    font-size: 1rem;
    height: 2.6rem;
  }

  input[type="button"] {
    font-size: 1rem;
    width: 77.5%;
    margin: 0 1rem 1.5rem 2.8rem;
    height: 2.6rem;
    padding: 0;
    font-weight: bold;
  }

  /********************FEATURES*******************/

  .features h2 {
    padding-top: 2.8rem;
    margin-bottom: 4.5rem;
  }

  .features-items {
    align-items: center;
    flex-flow: row wrap;
  }

  .features-items article {
    width: 50%;
    margin-bottom: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features i {
    font-size: 3em;
  }

  .features p {
    width: 75%;
    font-size: 1.2rem;
  }

  /**********************
  ~~REVIEWS
  **********************/

  .reviews h2 {
    padding: 2.8rem 2.8rem 0 2.8rem;
    margin-bottom: 2.5rem;
  }

  .reviews img {
    width: 88%;
    padding: 0 2.8rem;
    margin-bottom: 2.5rem;
  }

  .reviews p {
    padding: 0px 2.8rem 2.5rem 2.8rem;
    line-height: 2rem;
  }


  /****************************************************
  =====ABOUT-PAGE
  ****************************************************/

  /**********************
  ~~MISSION
  **********************/

  .mission h2 {
    padding-top: 5rem;
    margin-bottom: 0;
  }

  .mission-content {
    display: flex;
  }

  .one {
    padding: 1rem 0.8rem 4rem 2.8rem !important;
  }

  .two {
    padding: 1rem 3.8rem 4rem 0 !important;
  }

  /**********************
  ~~CONTACT-SECTION
  **********************/

  .contact-section h2 {
    padding-top: 3rem;
    margin-bottom: 3.5rem;
  }

  .contact-content {
    display: flex;
    padding-bottom: 3rem;
  }

  .contact-section p {
    padding: 0 2.8rem 1.5rem 2.8rem;
    margin-bottom: 0;
    font-style: normal;
  }

  /****************************************************
  =====ABOUT-PAGE-END
  ****************************************************/


  /****************************************************
  =====FAQ-PAGE
  ****************************************************/

  .faq h2 {
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .faq p {
    padding: 1rem 2.5rem 3rem 2.5rem;
  }

  .faq .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5.5rem;
  }

  .faq-content {
    width: 50%;
  }

  /****************************************************
  =====FAQ-PAGE-END
  ****************************************************/


  /**********************
  ~~FOOTER
  **********************/

  footer {
    height: auto;
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 13rem;
  }

  .social,
  .contact {
    margin-bottom: 1rem;
  }

  .contact h4 {
    padding-top: 0;
    margin-bottom: 0;
  }

  .contact p {
    line-height: 1.5rem;
  }

  .social h4 {
    margin-bottom: -0.4rem;
  }

  .copyright {
    margin-top: 3.5rem;
  }

  .copyright p {
    margin-bottom: 0;
  }

  .social-icons p {
    margin: 2.5rem 0 0 0;
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h2,
  p {
    padding: 0 3.8rem;
  }

  /**********************
  ~~HEADER
  **********************/

  header {
    height: 7.5rem;
  }

  header img {
    margin-left: 3.8rem;
  }

  li {
    margin: 0 3.8rem 0 0;
  }

  /***************************HERO*****************************/

  .hero-area {
    background-size: cover;
    background-position-y: top !important;
    height: 38rem;
  }

  main h1 {
    padding-top: 4.8rem;
    font-size: 3.6rem;
    padding-left: 3.8rem;
  }

  /***********************ASIDE****************************/

  aside {
    height: 18rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .form-description h3 {
    font-size: 2rem;
    width: 77%;
    padding: 0 0 0 3.8rem;
    margin-top: -0.9em;
  }

  .form-description p {
    font-size: 1.2rem;
    width: 58%;
    padding-left: 3.8rem;
  }

  .form-description {
    width: 50%;
    height: 18rem;
    justify-content: center;
  }

  .form h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }

  input[type="email"] {
    margin: 1.1rem 0rem 1.4rem 0rem;
    width: 73.5%;
  }

  input[type="button"] {
    width: 75.6%;
    margin: 0 1rem 1.5rem 0rem;
    font-size: 1.5rem;
  }

  /****************************FEATURES***************************/

  .features-items article {
    width: 33.333333%;
  }

  .features h2 {
    padding: 3.8rem;
  }

  .features p {
    width: 50%;
  }

  /*******************************REVIEWS******************************/

  .reviews .content-wrapper {
    display: flex;
  }

  .reviews img {
    width: 50%;
    padding-left: 3.8rem;
  }

  .reviews article {
    width: 50%;
  }

  .reviews h2 {
    padding-left: 3.8rem;
    margin-bottom: 3.5rem;
  }

  .reviews h3 {
    padding-left: 0;
    font-size: 1.8rem;
  }

  .reviews p {
    padding-right: 3.8rem;
    padding-left: 0;
  }

  /******************************************ABOUT-PAGE**********************************/

  /*****************************MISSION********************************/

  .mission h2 {
    padding-top: 5rem;
    margin-bottom: 0;
  }

  .mission-content {
    display: flex;
  }

  .one {
    padding: 1rem 2.8rem 7rem 3.8rem !important;
  }

  .two {
    padding: 1rem 3.8rem 4rem 0 !important;
  }

  address h4 {
    padding: 0 3.8rem;
  }

  /*******************************CONTACT-SECTION*******************************/

  .contact-section h2 {
    padding-top: 3rem;
    margin-bottom: 3.5rem;
  }

  .contact-content {
    display: flex;
    padding-bottom: 3rem;
  }

  .contact-section p {
    padding: 0 3.8rem 1.5rem 3.8rem;
    margin-bottom: 0;
    font-style: normal;
  }

  /***********************************************ABOUT-PAGE-END****************************************/

  /***********************************************FAQ-PAGE****************************************************/

  .faq h2 {
    padding-top: 6.5rem;
    margin-bottom: 3.5rem;
  }

  .faq h4 {
    padding: 0 3.8rem 0 3.8rem;
  }

  .faq p {
    padding: 1rem 3.8rem 3rem 3.8rem;
  }

  /********************FOOTER***************************/

  .footer-content {
    align-items: center;
  }

  .social,
  .contact {
    margin: 1.5rem 0 0 0;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  https://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== 
*/

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
